$text-color: #333;
$primary-color: #515769;
$secondary-color: #a6a7aa;
$highlight-color: #17bed2;
$gray-light: #f0f0f0;
$gray-lighter: #fafafa;

$base-font: Arial, Helvetica, sans-serif;
$base-font-size: 14px;

$spacing: 20px;
