---
className: page-home
---
<section class="promo-box">
  <h1 class="title"><%- site.title.split(' ').join('<br>') %></h1>
  <p class="subtitle"><%= site.subtitle %></p>
  <img src="" alt="" class="picture">
</section>
