@import '../vars';
@import '../mixins';

.nav {
  @include flex(space-between);
  height: 80px;
}

.logo {
  a {
    display: block;
    padding: ($spacing / 2) $spacing;
    text-decoration: none;
  }
  .title {
    color: $primary-color;
    display: block;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 36px;
  }
  .subtitle {
    color: $secondary-color;
    font-size: 16px;
    line-height: 22px;
  }
}

.menu {
  margin-left: auto;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul {
    @include flex();
    height: 100%;
  }
  li {
    height: 100%;
  }
  a {
    @include flex(center, center);
    color: $primary-color;
    font-weight: bold;
    font-size: 13px;
    height: 100%;
    padding: 0 $spacing;
    text-decoration: none;
    text-transform: uppercase;

    &:hover span {
      border-color: $gray-light;
    }
  }
  span {
    border-bottom: 3px solid transparent;
    padding: 8px 0 5px;
    transition: border-color 500ms;
  }
}

.page-home .menu-home span,
.page-about .menu-about span,
.page-contact .menu-contact span {
  border-color: $highlight-color;
}

.page-home .logo {
  display: none;
}
