@import '../vars';

.header {
  border-bottom: 1px solid $gray-light;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main {
  margin-top: 80px;
  padding: $spacing;
}

.page-title {
  color: $primary-color;
  font-size: 30px;
  margin: 0 0 1em;
  text-align: center;
}
