@import '../vars';

.promo-box {
  background-color: $gray-lighter;
  height: 400px;
  margin: -$spacing;
  padding: $spacing;

  .title {
    color: $primary-color;
    display: block;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 1;
    margin: 0 0 $spacing;
  }

  .subtitle {
    color: $secondary-color;
    font-size: 25px;
  }

  .picture {
    display: none;
  }
}
