@import '../vars';

.promo-box {
  background-color: $gray-lighter;
  height: 400px;
  margin: -$spacing;
  padding: $spacing;

  .title {
    color: $primary-color;
    display: block;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 1;
    margin: 0 0 $spacing;
  }

  .subtitle {
    color: $secondary-color;
    font-size: 25px;
  }

  .picture {
    display: none;
  }
}

.social-links {
  > .link {
    border-radius: 50%;
    display: inline-block;
    height: 36px;
    padding: 6px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 36px;

    &:hover {
      > .icon {
        fill: $gray-lighter;
      }

      &.-twitter {
        background-color: #1DA1F2;
      }

      &.-github {
        background-color: #24292E;
      }

      &.-linkedin {
        background-color: #0076B7;
      }
    }
  }
  .icon {
    fill: $primary-color;
    height: 24px;
    width: 24px;
  }
}
