<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="logo">
        <a href="/">
          <span class="title"><%= site.title %></span>
          <span class="subtitle"><%= site.subtitle %></span>
        </a>
      </div>
      <div class="menu">
        <ul>
          <li class="active"><a href="/"><span>Home</span></a></li>
          <li><a href="/artigos"><span>Artigos</span></a></li>
          <li><a href="/contato"><span>Contato</span></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="main">
    <section class="promo-box">
      <h1 class="title"><%- site.title.split(' ').join('<br>') %></h1>
      <p class="subtitle"><%= site.subtitle %></p>
      <img src="" alt="" class="picture">
    </section>
  </main>

  <footer class="footer">

  </footer>
</body>
</html>
